@font-face {
  font-family: "Neo Tech";
  src: local("Neo Tech Light"), local("Neo-Tech-Light"),
    url("NeoTech-Light.woff2") format("woff2"),
    url("NeoTech-Light.woff") format("woff"),
    url("NeoTech-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "LMSans17-Regular";
  src: url("LMSans17-Regular.ttf.woff") format("woff"),
    url("LMSans17-Regular.ttf.svg#LMSans17-Regular") format("svg"),
    url("LMSans17-Regular.ttf.eot"),
    url("LMSans17-Regular.ttf.eot?#iefix") format("embedded-opentype");
  font-weight: normal;
  font-style: normal;
}
